
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @{
    ViewBag.Title = "GetCurrentSurveyResults";
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
               Beers
            </th>
            <th>
                Cost
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @ViewBag.BoxName
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>*@

        </tr>
        }

    </table>


